body {
    font-family: 'Open Sans';
    background:url('/assets/img/background.png');
}

.patchedOk {
    color:darkgreen!important;
}

.list-group-item {
    margin-top:5px;
}

.chatMateContainer {
    position:absolute;
    top:0px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:95%;
}

.chatMateContainerLogin {
    position:relative;
    top:10px;
    min-height:500px;
    background-color:#FFF;
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.chatMateContainerLoginInner{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}

.chatMateContainerLoginInnerTabs {
    padding:5px;
}

.chatMateHeadLine {
    text-align:center;
}

h1[class=chatMateHead] {
    color:white;
    font-size:46px;
    text-shadow: 2px 2px #000;
}

h1[class=chatMateHead]:hover {
    cursor:pointer;
}

.benefits {
    right: 0;
    background-color: #FFF;
    margin-top: -36px;
}

.logout {
    position:fixed;
    top:15px;
    right:40px;
    color:#000;
}


.existsTrue, .existsTrue:focus, .existsTrue:active {
    border-color:red;
}

.existsFalse, .existsFalse:focus, .existsFalse:active {
    border-color:green;
}