<!DOCTYPE HTML>
<html>
    <head>
        <title>ChatMate</title>
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"  />
        <link href="http://localhost/assets/css/chatmateClient.css" rel="stylesheet" type="text/css" />
        <link href="http://localhost/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="chatContainer">
            <ul id="messages"></ul>
            
            <form action="#" method="POST">
                <div class="row inputRow">
                    <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12">
                        <input id="messageToSend" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                        <button class="btn btn-primary btn-block">Send</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="http://localhost/assets/js/chatmateClient.js"></script>
    </body>
</html>